
<div class="container-fluid p-0">
  <div class="container">
    <div class="row">
      <header class="col-12 justify-content-center">
        <div class="col head  align-items-center justify-align-center text-center my-5 mt-0">
          <img src="https://scontent-scl1-1.xx.fbcdn.net/v/t1.0-1/p200x200/76993624_956098771438020_2866625876756267008_n.png?_nc_cat=111&_nc_oc=AQnO7ijiWzAV-fd0Pv3Ygwh6pOJ55sR41_Qtvf-Uk9M3RxBEq9T844UkZRw5Ld7_cRE&_nc_ht=scontent-scl1-1.xx&oh=43818b0755ac6c18b917e1a24c0d9e12&oe=5EFB0A3D" alt="Logo" class="img-fluid inCircle" height="140" width="140" >
        </div>
        <ul class="nav justify-content-center my-2">
          <li class="nav-item mx-2 mr-5">
            <a class="btn btn-dark px-4 btn-block" href="#">Nosotros</a>
          </li>
          <li class="nav-item mx-2 mr-5">
            <a class="btn btn-dark px-4 btn-block" href="#">Blog</a>
          </li>
          <li class="nav-item mx-2 mr-5">
            <a class="btn btn-dark px-4 btn-block" href="#">Empresas</a>
          </li>
          <li class="nav-item mr-5">
            <a class="btn btn-dark btn-block" href="#">Ayuda</a>
          </li>
        </ul>
      </header>
    </div>
  </div>
  <div class="col-12 bg-light">
    <router-outlet></router-outlet>
  </div>
  <div class="col-12 bg-white py-5">
  </div>
  <div class="col-12 bg-light pt-5">
    <div class="container">
        <footer>
          <div class="row">
            <div class="col">
              <h5 class="isTitle">Empresa</h5>
              <ul class="list-unstyled">
                <li>Nosotros</li>
                <li>Empresas</li>
                <li>Trabaja con nosotros</li>
              </ul>
            </div>
            <div class="col">
              <h5 class="isTitle">Ayuda</h5>
              <ul class="list-unstyled">
                <li>Atención al cliente</li>
                <li>Preguntas frecuentes</li>
                <li>Element ABC</li>
              </ul>
            </div>
            <div class="col">
              <h5 class="isTitle">Más información</h5>
              <ul class="list-unstyled">
                <li>Promociones</li>
                <li>Configurar alertas</li>
              </ul>
            </div>
            <div class="col">
              <h5 class="isTitle">Síguenos</h5>
              <div class="row">
                <div class="col">
                  <img src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_1280.png" alt="Logo" class="img-fluid">
                </div>
                <div class="col">
                  <img src="https://cdn.pixabay.com/photo/2016/04/24/14/36/youtube-1349702_1280.png" alt="Logo" class="img-fluid">
                </div>
                <div class="col">
                  <img src="https://cdn.pixabay.com/photo/2016/09/17/07/03/instagram-1675670_1280.png" alt="Logo" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </footer>
    </div>
  </div>
</div>
